.contact-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  padding: 2rem 1.5rem 0;
}

.contact-content p {
  padding-top: 2rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  gap: 1.5rem;
}
.contact-text p {
  margin-top: 1rem;
  line-height: 2.5rem;
  font-size: large;
  max-width: 300px;
}

.contact-text h1 {
  line-height: 4rem;
  max-width: 350px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  margin-top: 1rem;
}

.contact-form .input-box span {
  position: relative;
  left: 0;
  bottom: 45px;
}
